@import 'bootstrap/dist/css/bootstrap.css';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font: 'Lato', sans-serif;
}
ul {
	list-style-type: none;
}
li {
    padding: 5px;
}
.jumbotron, div, p {
    margin: 0 auto;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, h1, h2, h3, h4 {
    color: #eee;
}
.jumbotron h1, h1 {
    letter-spacing: 2px;
}
.header h1 {
	font-weight: 700;
}
.header h3 {
    font-weight: 400;
}
.header p {
    color: #eee;
    font-weight: 300;
}
.header, .login-form, .register-form, .social-register {
    margin-left: 125px;
}
.jumbotron {
    background-color: #2E3E4E;
}
.username, .email, .password {
	width: 250px;
	height: 40px;
}
.github img {
	border-radius: 100%;
    width: 64px;
    height: 64px;
}
.social-register {
    color: #eee;
}
.social-register p {
    color: #eee;
    font-weight: 300;
}
