<div class="container">
    <h2>Register as a Developer</h2>
    <p class="subheader">Already a member? Sign in <a href="#/register">here</a>!
        <p>
            <form class="register form" ng-submit="register()">
                <ul class="form-inputs">
                    <li><input class="username" placeholder="Username" ng-model="username in users"></li>
                    <li><input class="username" placeholder="Email Address" ng-model="email in users"></li>
                    <li><input class="password" placeholder="Password" ng-model="password in users"></li>
                </ul>
                <div class="form-controls">
                    <input class="login btn btn-md-default" type="submit" value="Register Now">
                    <button class="cancel btn btn-md-default" ng-click="#/">Cancel</button>
                </div>
            </form>
            <div class="social-login">
           		<ul class="icons">
           			<li id="twitter"><a href="twitter-link-here"><img src="images/twitter-icon.svg"></li>
           			<li id="github"><a href="github-link-here"><img src="iages/github-icon.svg"></li>
           			<li id="tumblr"><a href="tumblr-link-here"><img src="images/tumblr-icon.svg"></li>
           		</ul>
            </div>
</div>